# Make a copy of this named .env before filling in the following variables.

TARGET_URL= # public URL to check

EVENTS_CONTAINER_SELECTOR=
EVENT_ITEM_SELECTOR=

NOTIFY_EMAIL=
FROM_EMAIL=
EMAIL_PASSWORD= # Set App Password here: https://myaccount.google.com/apppasswords
SMTP_HOST=
SMTP_PORT=
ARTIFACT_ENCRYPTION_KEY= # Generate using utils/generate_key.py
